body {
    margin: 2%;
}

.container {
    margin: 0 auto;   
    display: flex;
    padding: 2%;
    border: dashed #8c0303 2px;
}

.subcontainer {
    height: 50vh;
    width: 100%;
}

#yellow {
    background-color: #f0e68c;
    border: 4px #2f4f4f solid;
}

#blue {
    background-color: #e0ffff;
    border: 4px #cd5c5c solid;
}

