

.container {
    
}

.column {

}

 #green {
    background-color: #008000;
 }

 #red {
    background-color: #ff0000;
 }

 #purple{
    background-color: #0000ff;
 }

 #blue{
    background-color: #8a2be2;
 }